.jumbotron {
	color: black;
	text-align: center;
	align-content: center;
	padding-bottom: 2em;
	padding-top: 2em;
	background-color: ghostwhite;
}

.jumboimage {
	height: 150px;
	width: 150px;
	border-radius: 20%;
}

.image-body {
	background-image: url("../images/pexels-greyscale-laptop.jpg");
}

.container {
	background-color: rgba(102, 153, 153, 0.9);
}

.col-sm-6 {
	text-align: center;
	align-content: center;
	padding: 2em;
	color: black;
}

ul {
	align-content: center;
	text-align: left;
}

li {
	align-content: center;
}